{% extends 'base.html.twig' %}

{% block title %}Ajouter un SA | Technicien | SmartCampus.
{% endblock %}

{% block navlink %}
    <li><a class="nav-link" href="/technicien/liste-souhaits">Plan d'expérimentation</a></li>
    <li><a class="nav-link current-page" href="/technicien/gestion-sa">Gestion des SA</a></li>
{% endblock %}

{% block appcontent %}
    <div class="app-content cm-pe">

        {# Titre #}
        <h3>AJOUT D'UN SA</h3>

        {# ------------------------------------------------------ #}

        {# CONTAINER (fond gris) #}
        <div class="container sa-form">
            <h4>Quel nom donner à votre système d'acquisition ?</h4>
            <p>
                Une fois le nom validé et vérifié, cela ajoutera le SA à la liste des SA.
            </p>
            {{ form_start(ajoutSAForm) }}
            {{ form_widget(ajoutSAForm.nom) }}
            <p class="erreur-form">{{ erreur }}</p>
            
            <a class="cancel" href="../gestion-sa">Annuler</a>
            <button type='submit'>Ajouter</button>
            {{ form_row(ajoutSAForm._token) }}
            {{ form_end(ajoutSAForm, {'render_rest': false}) }}


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
