{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe- Technicien{% endblock %}

{% block navlink %}
        <li><a class="nav-link" href="/technicien/liste-souhaits">Plan d'expérimentation</a></li>
        <li><a class="nav-link" href="/technicien/gestion-sa">Gestion des SA</a></li>
        <li><a class="nav-link current-page">Modifier le mot de passe</a></li>
{% endblock %}

{% block appcontent %}
    <div class="app-content souhaits">

        {# Affichage des messages de succès #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# Affichage des messages d'erreur #}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

        {# --------------------------------------------- #}

        <h3 class="">Modifier son mot de passe</h3>
        <div class="sa-form mdp-form">

            {{ form_start(userForm) }}
                <p>Mot de passe actuel : </p>
                {{ form_widget(userForm.MDP) }}
                <p>Nouveau mot de passe : </p>
                {{ form_widget(userForm.PlainPassword) }}
                <p class="erreur-form">{{ erreur }}</p>
                <p>Comfirmation du nouveau mot de passe : </p>
                {{ form_widget(userForm.verif) }}

            <button type='submit'>Modifier</button>
            {{ form_row(userForm._token) }}
            {{ form_end(userForm, {'render_rest': false}) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dragAndDrop.js') }}"></script>
    <script src="{{ asset('js/flashMessage.js') }}"></script>
{% endblock %}
