{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission
{% endblock %}


{% block username %}Chargé de mission
{% endblock %}

{% block navlink %}
    <li>
        <a class="nav-link" href="/charge-de-mission/plan-experimentation">Plan d'expérimentation</a>
    </li>
{% endblock %}

{% block appcontent %}
    <div class="app-content cm-pe">

        {# Titre #}
        <h3>DEMANDE D'INSTALLATION</h3>

        {# ------------------------------------------------------ #}

        {# CONTAINER (fond gris) #}
        <div class="container">

            {# Titre et description #}
            {% if  existedeja  == 1 %}
                <h4>La salle {{ nomsalle }} est déjà dans le plan d'expérimentation !</h4>
                <p>
                    Retournez à l'accueil si vous souhaitez la retirer du plan d'expérimentation
                </p>
                <div class="confirm-buttons">
                    <a href="/charge-de-mission/plan-experimentation" class="cancel-button">Retour</a>
                </div>
            {% elseif SADispo == 0 %}
                <h4>Il n'y a plu de SA disponible pour la salle {{ nomsalle }}  !</h4>
                <p>
                    Retournez à l'accueil si vous souhaitez retirer du plan d'expérimentation une salle pour ajouter celle-ci
                </p>
                <div class="confirm-buttons">
                    <a href="/charge-de-mission/plan-experimentation" class="cancel-button">Retour</a>
                </div>
            {% else %}

                <h4>Ajouter la salle {{ nomsalle }} au plan d'expérimentation ?</h4>
                <p>
                    Cela ajoutera une demande d'installation d'un système d'acquisition en salle {{ nomsalle }} pour le technicien.
                </p>
                <div class="confirm-buttons">
                    <a href="/charge-de-mission/plan-experimentation" class="cancel-button">Annuler</a>
                    <a href="/charge-de-mission/plan-experimentation/ajout-experimentation/{{nomsalle}}" class="confirm-button">Valider</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
