{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission
{% endblock %}


{% block username %}Chargé de mission
{% endblock %}

{% block navlink %}
    <li>
        <a class="nav-link" href="/charge-de-mission/plan-experimentation">Plan d'expérimentation</a>
        <a class="nav-link" href="#">Expérimentation en cours</a>
    </li>
{% endblock %}

{% block appcontent %}
    <div class="app-content cm-pe">

        {# Titre #}
        <h3>Salles en cours d'analyses</h3>

        {# ------------------------------------------------------ #}

        {# CONTAINER (fond gris) #}
        <div class="container">
            {% for i in 0..liste_experimentations|length-1 %}
                <div class="">
                    <h1 class="">{{ liste_experimentations[i].nom }}</h1>
                    <p class="">
                    {% if liste_experimentations[i].sa_etat.value == 0 %} {# eteint #}
                    eteint
                    {% elseif liste_experimentations[i].sa_etat.value == 1 %} {# marche #}
                    marche
                    {% elseif liste_experimentations[i].sa_etat.value == 2 %} {# probleme #}
                    probleme
                    {% endif %}
                    </p>

                    {% for j in 0..listeDerniereValeur|length-1 %}
                        {% if liste_experimentations[i].nom == listeDerniereValeur[j].localisation %}
                            <p class="">{{ listeDerniereValeur[j]['hum'] | default('--')}}</p>
                            <p class="">{{ listeDerniereValeur[j]['temp'] | default('--,-')}}</p>
                            <p class="">{{ listeDerniereValeur[j]['co2'] | default('---')}}</p>
                            <a href="/charge-de-mission/liste-salles/detail-salle/{{liste_experimentations[i].nom}}" class="salle-bouton">Détails</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
