{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission
{% endblock %}


{% block username %}Chargé de mission
{% endblock %}

{% block navlink %}
	<li>
		<a class="nav-link" href="#">Plan d'expérimentation</a>
	</li>
{% endblock %}

{% block appcontent %}
	<div class="app-content cm-pe">

		{# Titre #}
		<h3>PLAN D'EXPÉRIMENTATION</h3>

		{# ------------------------------------------------------ #}

		{# CONTAINER (fond gris) #}
		<div class="container">

			{# Titre et description #}
			<h4>Liste des salles</h4>
			<p>
				Vous trouverez ci-dessous la liste des salles, vous pouvez les filtrer en fonction de vos besoins. Vous
							pouvez égelement ajouter ou retirer des salles du plan d'expérimentation en les liant à un SA.
				<br><br>
				Systèmes d'acquisitions disponibles :
				<strong>{{ nb_sa }}</strong>
			</p>

			{# -------------------------------------------- #}

			{# Partie Filtrage et Recherche #}

			<div class="search-and-filter">
				<form action='/charge-de-mission/plan-experimentation' method='get'>
					<select name="batiment" id="" class="bat-selection">
						<option value='' {{batiment_selectionne == ''?'selected':'none'}}>Choisir un batiment</option>
						{% for batiment in liste_batiments %}
							<option value={{batiment.id}} {{batiment_selectionne == batiment.id?'selected':'none'}}>{{batiment.nom}}</option>
						{% endfor %}
					</select>

					<input type='search' name='salle' placeholder='Rechercher une salle' value={{nom_salle}}>
					<button type='submit'><img src="{{ asset('img/search.svg') }}" alt="Rechercher"></button>
				</form>

				<button type='button'><img src="{{ asset('img/filter.svg') }}" alt="Filtres" onclick="ouvrirPopupFiltreSalles()"></button>
			</div>
			
			{# ------------------------------------------------------------- #}

			{# Pop-up et overlay #}

			<div class="overlay" id="overlay" onclick="fermerPopupFiltreSalles()"></div>

				
			<div class="popup" id="popup">
				<!--Le popup lui même-->
				<form action='/charge-de-mission/plan-experimentation' method='get' class="popup-filre-salles">
					<fieldset>
						<legend>Étage :</legend>
						<input type="checkbox" value='0' name="etage[]" {{ '0' in etage ? 'checked' : 'none' }}>RDC</input>
						<input type="checkbox" value='1' name="etage[]" {{ '1' in etage ? 'checked' : 'none' }}/>1</input>
						<input type="checkbox" value='2' name="etage[]" {{ '2' in etage ? 'checked' : 'none' }}>2</input>
						<input type="checkbox" value='3' name="etage[]" {{ '3' in etage ? 'checked' : 'none' }}/>3</input>
					</fieldset>
					<fieldset>
						<legend>Orientation :</legend>
						<input type="checkbox" value='nord' name="orientation[]" {{ 'nord' in orientation ? 'checked' : 'none' }}>Nord</input>
						<input type="checkbox" value='sud' name="orientation[]" {{ 'sud' in orientation ? 'checked' : 'none' }}/>Sud</input>
						<input type="checkbox" value='est' name="orientation[]" {{ 'est' in orientation ? 'checked' : 'none' }}>Est</input>
						<input type="checkbox" value='ouest' name="orientation[]" {{ 'ouest' in orientation ? 'checked' : 'none' }}/>Ouest</input>
					</fieldset>
					<fieldset>
						<legend>Ordinateur :</legend>
						<input type="radio" value='avec' name="ordinateur" {{ordinateur == 'avec'?'checked':'none'}}>Avec</input>
						<input type="radio" value='sans' name="ordinateur" {{ordinateur == 'sans'?'checked':'none'}}/>Sans</input>
					</fieldset>
					
					<fieldset>
						<legend>Système d'acquisition :</legend>
						<input type="radio" value='avec' name="sa" {{sa == 'avec'?'checked':'none'}}>Avec</input>
						<input type="radio" value='sans' name="sa" {{sa == 'sans'?'checked':'none'}}/>Sans</input>
						<input type="radio" value='demande_en_cours' name="sa" {{sa == 'demande_en_cours'?'checked':'none'}}/>Demande en cours</input>
					</fieldset>
						
					<button type="submit" onclick="fermerPopupFiltreSalles()">Valider</button>
				</form>
			</div>

			{# ------------------------------------------------------------- #}

			{# Liste des salles #}

			<div class="liste-salles">
			
			{% for salle in liste_salles %}
				{% if salle.datedemande is not null %}
					<div class="salle darker">
						<div class="salle-infos">
							<p>Date de demande : {{ salle.datedemande|date('Y-m-d H:i:s') }}</p>
							<h5>{{ salle.nom }}</h5>
							{% set acquisitionStatus = salle.dateinstallation is null ? 'à installer' : 'installé' %}
						
							<p>
								Système d'acquisition :{{ acquisitionStatus }} | 
								Nombre d'ordis :{{ salle.nb_ordis }} | 
								Nombre de fenêtres :{{ salle.nb_fenetres }} | 
								Orientation :{{ salle.orientation }}
							</p>
						</div>

						<div class="salle-bouton">
							<a href="" class="">Retirer</a>
						</div>
					</div>
				
				{% else %}
					<div class="salle">
						<div class="salle-infos">
							<p>Pas encore de demande de SA</p>
							<h5>{{ salle.nom }}</h5>

							<p>
								Système d'acquisition : aucun | 
								Nombre d'ordis :{{ salle.nb_ordis }} | 
								Nombre de fenêtres :{{ salle.nb_fenetres }} | 
								Orientation :{{ salle.orientation }}
							</p>
						</div>

						<div class="salle-bouton">
							<a href="" class="">Ajouter</a>
						</div>
					</div>
				{% endif %}
			{% endfor %} 
			</div>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
