{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission
{% endblock %}


{% block username %}Chargé de mission
{% endblock %}

{% block navlink %}
	<li>
		<a class="nav-link" href="#">Plan d'expérimentation</a>
		<a class="nav-link" href="/charge-de-mission/liste-salles">Expérimentation en cours</a>
	</li>
{% endblock %}

{% block sidebar %}
<div class="filtre">
	<h3>FILTRES</h3>

	<!--Le popup lui même-->
	{{ form_start(filtreSalleForm, {'attr': {'class': 'popup-filtre-salles'}}) }}
	{{ form_label(filtreSalleForm.etage) }}
	{{ form_widget(filtreSalleForm.etage) }}

	{{ form_label(filtreSalleForm.orientation) }}
	{{ form_widget(filtreSalleForm.orientation) }}

	{{ form_label(filtreSalleForm.ordinateurs) }}
	{{ form_widget(filtreSalleForm.ordinateurs) }}

	{{ form_label(filtreSalleForm.sa) }}
	{{ form_widget(filtreSalleForm.sa) }}

	<button type="submit">Valider</button>
	<button type="button" id="resetButton">Réinitialiser</button>
	{{ form_row(filtreSalleForm._token) }}
	{{ form_end(filtreSalleForm, {'render_rest': false}) }}
</div>
{% endblock %}

{% block appcontent %}
	<div class="app-content cm-pe">

		{# Affichage des messages de succès #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{# Affichage des messages d'erreur #}
		{% for message in app.flashes('error') %}
			<div class="alert alert-error">
				{{ message }}
			</div>
		{% endfor %}

		{# --------------------------------------------- #}

		{# Titre #}
		<h3>PLAN D'EXPÉRIMENTATION</h3>

		{# ------------------------------------------------------ #}

		{# CONTAINER (fond gris) #}
		<div class="container">

			{# Titre et description #}
			<h4>Liste des salles</h4>
			<p>
				Systèmes d'acquisitions disponibles :
				<strong>{{ nb_sa }}</strong>
			</p>

			{# -------------------------------------------- #}

			{# Partie Filtrage et Recherche #}

			<div class="search-and-filter">

				{{ form_start(rechercheSalleForm) }}
				{{ form_widget(rechercheSalleForm.batiment) }}
				{{ form_widget(rechercheSalleForm.salle) }}

				<button type='submit'><img src="{{ asset('img/search.svg') }}" alt="Rechercher"></button>
				{{ form_row(rechercheSalleForm._token) }}
				{{ form_end(rechercheSalleForm, {'render_rest': false}) }}
			</div>

			{# ------------------------------------------------------------- #}

			{# Liste des salles #}

			<div class="liste-salles">
			
			{% for salle in liste_salles %}
				{% if salle.etat == 4 %}
					<div id="{{ salle.nom_salle }}" class="salle">
						<div class="salle-infos">
							<p>Pas encore de demande de SA</p>
							<h5>{{ salle.nom_salle }}</h5>

							<p>
								Système d'acquisition : aucun |
								Nombre d'ordis : {{ salle.nb_ordis }} |
								Nombre de fenêtres : {{ salle.nb_fenetres }} |
								Orientation : {{ salle.orientation }}
							</p>
						</div>


						{% if nb_sa > 0 %}
							<a href="plan-experimentation/ajouter-salle/{{ salle.nom_salle }}" class="salle-bouton" >Ajouter</a>
						{% else %}
							<a class="salle-bouton-unclickable">Ajouter</a>
						{% endif %}
					</div>
				{% elseif salle.etat == 0 %}
					<div id="{{ salle.nom_salle }}" class="salle darker">
						<div class="salle-infos">
							<p>Date de demande d'installation : {{ salle.datedemande|date('Y-m-d H:i:s') }}</p>
							<h5>{{ salle.nom_salle }}</h5>
							<p>
								Système d'acquisition : à installer |
								Nombre d'ordis : {{ salle.nb_ordis }} | 
								Nombre de fenêtres : {{ salle.nb_fenetres }} | 
								Orientation : {{ salle.orientation }}
							</p>
						</div>

						<a href="plan-experimentation/supprimer-salle/{{salle.nom_salle}}" class="salle-bouton">Retirer</a>
					</div>
				{% elseif salle.etat == 1 %}
					<div id="{{ salle.nom_salle }}" class="salle darker">
						<div class="salle-infos">
							<p>Date d'installation : <strong>{{ salle.dateinstallation|date('Y-m-d H:i:s') }}</strong></p>
							<h5>{{ salle.nom_salle }}</h5>
							<p>
								Système d'acquisition : installé |
								Nombre d'ordis : {{ salle.nb_ordis }} |
								Nombre de fenêtres : {{ salle.nb_fenetres }} |
								Orientation : {{ salle.orientation }}
							</p>
						</div>

						<a href="plan-experimentation/supprimer-salle/{{salle.nom_salle}}" class="salle-bouton">Retirer</a>
					</div>
				{% elseif salle.etat == 2 %}
					<div id="{{ salle.nom_salle }}" class="salle darker">
						<div class="salle-infos">
							<p>Date de demande de retrait : {{ salle.datedemande|date('Y-m-d H:i:s') }}</p>
							<h5>{{ salle.nom_salle }}</h5>
							<p>
								Système d'acquisition : à retirer |
								Nombre d'ordis : {{ salle.nb_ordis }} |
								Nombre de fenêtres : {{ salle.nb_fenetres }} |
								Orientation : {{ salle.orientation }}
							</p>
						</div>

						<a class="salle-bouton-unclickable">Retirer</a>
					</div>
				{% endif %}
			{% endfor %} 
			</div>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/scrollToRoom.js') }}"></script>
	<script src="{{ asset('js/filter.js') }}"></script>
	<script src="{{ asset('js/flashMessage.js') }}"></script>
{% endblock %}
