{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission{% endblock %}

{% block username %}Chargé de mission{% endblock %}

{% block navlink %}
    <li><a class="nav-link" href=#>Plan d'expérimentation</a></li>
{% endblock %}

{% block appcontent %}
    <div class="">
        <h2>Systèmes d'acquisitions disponibles : {{ nb_sa }}</h2>
    </div>

    <h1>Salles</h1>
    <div class="liste-salles">
        <h2>Liste des salles</h2>
        </select>
        <form action='/charge-de-mission/plan-experimentation' method='get'>
            <select name="batiment" id="" class="bat-selection">
            <option value='' {{batiment_selectionne == ''?'selected':'none'}}>Choisir un batiment</option>
            {% for batiment in liste_batiments %}
            <option value={{batiment.id}} {{batiment_selectionne == batiment.id?'selected':'none'}}>{{batiment.nom}}</option>
            {% endfor %}
            <input type='search' name='salle' placeholder='Rechercher une salle' value={{nom_salle}}>
            <button type='submit'>Rechercher</button>
        </form>
        {% for salle in liste_salles %}
                {% if salle.datedemande is not null %}
                    <div class="">
                        <p>Date de demande : {{ salle.datedemande|date('Y-m-d H:i:s') }}</p>
                        <h3>{{ salle.nom }}</h3>
                        <a href="" class="">Retirer</a>
                        {% set acquisitionStatus = salle.dateinstallation is null ? 'à installer' : 'installé' %}
                            <p>Système d'acquisition : {{ acquisitionStatus }} | Nombre d'ordis : {{ salle.nb_ordis }} | Nombre de fenêtres : {{ salle.nb_fenetres }} | Orientation : {{ salle.orientation }}</p>
                    </div>
                {% else %}
                    <div class="">
                        <p>Pas encore de demande de SA</p>
                        <h3>{{ salle.nom }}</h3>
                        <a href="" class="">Ajouter</a>
                        <p>Système d'acquisition : aucun | Nombre d'ordis : {{ salle.nb_ordis }} | Nombre de fenêtres : {{ salle.nb_fenetres }} | Orientation : {{ salle.orientation }}</p>
                    </div>
                {% endif %}
        {% endfor %}
    </div>

{% endblock %}