{% extends 'base.html.twig' %}

{% block title %}Tableau de bord 
{% endblock %}

{% block navlink %}
	<li>
		<a class="nav-link current-page">Tableau de bord</a>
	</li>
	<li>
		<a class="nav-link" href="/charge-de-mission/liste-salles">Salles</a>
	</li>
	<li>
		<a class="nav-link" href="/charge-de-mission/plan-experimentation">Plan d'expérimentation</a>
	</li>
{% endblock %}

{% block appcontent %}
	<div
		class="app-content tableau-de-bord">

		{# Titre #}
		<h3>TABLEAU DE BORD</h3>

		{# CONTAINER (heure_paris) #}
		<div class="widget-heure">
			<div class="infos">
				<h4 id="heureParis"></h4>
				<h5>La Rochelle</h5>
			</div>

			<svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
				<g clip-path="url(#clip0_2_28)">
					<path d="M51 10.02C55.5248 12.6326 59.2888 16.3816 61.9194 20.8959C64.5501 25.4103 65.9561 30.5334 65.9983 35.7581C66.0405 40.9828 64.7174 46.1279 62.1601 50.6841C59.6027 55.2404 55.8997 59.0497 51.4177 61.735C46.9357 64.4203 41.8301 65.8885 36.6063 65.9942C31.3825 66.1 26.2216 64.8396 21.6347 62.3378C17.0477 59.836 13.1936 56.1796 10.454 51.7306C7.71439 47.2816 6.18423 42.1942 6.015 36.972L6 36L6.015 35.028C6.18301 29.847 7.69064 24.7979 10.3909 20.373C13.0912 15.9481 16.892 12.2984 21.4227 9.77969C25.9534 7.26098 31.0594 5.95923 36.243 6.00136C41.4266 6.04348 46.5108 7.42804 51 10.02ZM36 18C35.2652 18.0001 34.556 18.2699 34.0069 18.7582C33.4578 19.2465 33.107 19.9193 33.021 20.649L33 21V36L33.027 36.393C33.0954 36.9135 33.2992 37.407 33.618 37.824L33.879 38.124L42.879 47.124L43.161 47.37C43.6871 47.7782 44.3341 47.9998 45 47.9998C45.6659 47.9998 46.3129 47.7782 46.839 47.37L47.121 47.121L47.37 46.839C47.7782 46.3129 47.9998 45.6659 47.9998 45C47.9998 44.3341 47.7782 43.6872 47.37 43.161L47.121 42.879L39 34.755V21L38.979 20.649C38.893 19.9193 38.5422 19.2465 37.9931 18.7582C37.444 18.2699 36.7348 18.0001 36 18Z" fill="white"/>
				</g>
				<defs>
					<clipPath id="clip0_2_28">
						<rect width="72" height="72" fill="white"/>
					</clipPath>
				</defs>
			</svg>
		</div>

		{# -------------------------------------------------- #}


		{# CONTAINER (données générales) #}
		<div class="container widget-dg">
			<h4>Données générales</h4>
			<p>Données clés sur l'ensemble des données retournées par les SA du plan d'expérimentation.</p>
			<div class="donnees">
				<div class="donnee">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" viewBox="0 0 77 77" fill="none">
						<path d="M38.5 70.5833C31.1743 70.5833 25.0646 68.0701 20.1708 63.0437C15.277 58.0173 12.8312 51.7611 12.8333 44.275C12.8333 40.9597 13.5819 37.6444 15.0792 34.3291C16.5764 31.0139 18.4479 27.8323 20.6937 24.7844C22.9396 21.7364 25.3726 18.8757 27.9927 16.2021C30.6128 13.5285 33.0458 11.2024 35.2917 9.22394C35.7194 8.79616 36.2146 8.48923 36.7771 8.30315C37.3396 8.11706 37.9139 8.02295 38.5 8.02081C39.0882 8.02081 39.6625 8.11492 40.2229 8.30315C40.7833 8.49137 41.2784 8.7983 41.7083 9.22394C43.9542 11.2024 46.3871 13.5285 49.0073 16.2021C51.6274 18.8757 54.0604 21.7364 56.3062 24.7844C58.5521 27.8323 60.4236 31.0139 61.9208 34.3291C63.418 37.6444 64.1667 40.9597 64.1667 44.275C64.1667 51.7611 61.7198 58.0173 56.826 63.0437C51.9322 68.0701 45.8235 70.5833 38.5 70.5833ZM46.5208 57.75C47.8576 57.75 48.9945 57.2816 49.9313 56.3447C50.8681 55.4079 51.3355 54.2721 51.3333 52.9375C51.3333 51.6007 50.8649 50.4639 49.9281 49.527C48.9912 48.5902 47.8555 48.1228 46.5208 48.125C45.184 48.125 44.0472 48.5934 43.1104 49.5302C42.1735 50.4671 41.7062 51.6028 41.7083 52.9375C41.7083 54.2743 42.1767 55.4111 43.1136 56.3479C44.0504 57.2848 45.1862 57.7521 46.5208 57.75ZM28.0729 55.3437C28.7146 55.9854 29.4632 56.3062 30.3187 56.3062C31.1743 56.3062 31.9229 55.9854 32.5646 55.3437L48.9271 38.9812C49.5687 38.3396 49.8896 37.591 49.8896 36.7354C49.8896 35.8798 49.5687 35.1312 48.9271 34.4896C48.2854 33.8479 47.5229 33.5271 46.6395 33.5271C45.7562 33.5271 44.9947 33.8479 44.3552 34.4896L28.0729 50.7719C27.4312 51.4135 27.1104 52.176 27.1104 53.0594C27.1104 53.9428 27.4312 54.7042 28.0729 55.3437ZM30.4792 41.7083C31.816 41.7083 32.9528 41.2399 33.8896 40.3031C34.8265 39.3662 35.2938 38.2305 35.2917 36.8958C35.2917 35.559 34.8232 34.4222 33.8864 33.4854C32.9496 32.5485 31.8138 32.0812 30.4792 32.0833C29.1424 32.0833 28.0055 32.5517 27.0687 33.4886C26.1319 34.4254 25.6645 35.5611 25.6667 36.8958C25.6667 38.2326 26.1351 39.3694 27.0719 40.3063C28.0087 41.2431 29.1445 41.7105 30.4792 41.7083Z" fill="#BABABA"/>
					</svg>
					{% if hum_moy < 40 and  hum_moy > 70 %}
						<h4 style="color: orange">
							{{ hum_moy | default('--') }}%
						</h4>
					{% elseif hum_moy == 0 or hum_moy == 100 %}
						<h4 style="color: red">
							{{ hum_moy | default('--') }}%
						</h4>
					{% else %}
						<h4>
							{{ hum_moy | default('--') }}%
						</h4>
					{% endif %}
					<p>Humidité moyenne</p>
				</div>

				<div class="donnee">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" viewBox="0 0 77 77" fill="none">
						<path d="M48.125 41.7084V16.0417C48.125 13.489 47.1109 11.0408 45.3059 9.23578C43.5008 7.43075 41.0527 6.41669 38.5 6.41669C35.9473 6.41669 33.4991 7.43075 31.6941 9.23578C29.889 11.0408 28.875 13.489 28.875 16.0417V41.7084C26.1815 43.7285 24.1919 46.5449 23.188 49.7586C22.1841 52.9723 22.2168 56.4204 23.2815 59.6145C24.3462 62.8086 26.3889 65.5867 29.1203 67.5554C31.8516 69.524 35.1331 70.5834 38.5 70.5834C41.8668 70.5834 45.1484 69.524 47.8797 67.5554C50.611 65.5867 52.6537 62.8086 53.7184 59.6145C54.7831 56.4204 54.8159 52.9723 53.812 49.7586C52.8081 46.5449 50.8185 43.7285 48.125 41.7084ZM38.5 12.8334C39.3509 12.8334 40.1669 13.1714 40.7686 13.7731C41.3703 14.3747 41.7083 15.1908 41.7083 16.0417V25.6667H35.2916V16.0417C35.2916 15.1908 35.6297 14.3747 36.2313 13.7731C36.833 13.1714 37.6491 12.8334 38.5 12.8334Z" fill="#BABABA"/>
					</svg>
					{% if temp_moy < 14 and  temp_moy > 30 %}
						<h4 style="color: red">
							{{ temp_moy | default('--') }}°C
						</h4>
					{% elseif temp_moy < 17 or temp_moy > 21 %}
						<h4 style="color: orange">
							{{ temp_moy | default('--') }}°C
						</h4>
					{% else %}
						<h4>
							{{ temp_moy | default('--') }}°C
						</h4>
					{% endif %}
					<p>Température moyenne</p>
				</div>

				<div class="donnee">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" viewBox="0 0 77 77" fill="none">
						<path d="M48.125 41.7084V16.0417C48.125 13.489 47.1109 11.0408 45.3059 9.23578C43.5008 7.43075 41.0527 6.41669 38.5 6.41669C35.9473 6.41669 33.4991 7.43075 31.6941 9.23578C29.889 11.0408 28.875 13.489 28.875 16.0417V41.7084C26.1815 43.7285 24.1919 46.5449 23.188 49.7586C22.1841 52.9723 22.2168 56.4204 23.2815 59.6145C24.3462 62.8086 26.3889 65.5867 29.1203 67.5554C31.8516 69.524 35.1331 70.5834 38.5 70.5834C41.8668 70.5834 45.1484 69.524 47.8797 67.5554C50.611 65.5867 52.6537 62.8086 53.7184 59.6145C54.7831 56.4204 54.8159 52.9723 53.812 49.7586C52.8081 46.5449 50.8185 43.7285 48.125 41.7084ZM38.5 12.8334C39.3509 12.8334 40.1669 13.1714 40.7686 13.7731C41.3703 14.3747 41.7083 15.1908 41.7083 16.0417V25.6667H35.2916V16.0417C35.2916 15.1908 35.6297 14.3747 36.2313 13.7731C36.833 13.1714 37.6491 12.8334 38.5 12.8334Z" fill="#BABABA"/>
					</svg>
					<h4>
						{{ temperature_ext | default('--') }} °C
					</h4>
					<p>Température extérieure</p>
				</div>

				<div class="donnee">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" viewBox="0 0 77 77" fill="none">
						<path d="M42.35 26.95C51.8402 26.95 57.2225 33.0099 58.0041 40.3249H58.2428C64.3489 40.3249 69.3 45.0874 69.3 50.9625C69.3 56.8376 64.3489 61.6 58.2428 61.6H26.4572C20.3511 61.6 15.4 56.8376 15.4 50.9625C15.4 45.0874 20.3511 40.3249 26.4572 40.3249H26.6959C27.4851 32.9599 32.8597 26.95 42.35 26.95ZM32.3092 15.4C37.9148 15.4 42.8043 18.5878 45.2182 23.2733C44.2666 23.1566 43.3087 23.0987 42.35 23.1C33.1485 23.1 26.4418 28.132 24.0471 35.7511L23.8084 36.575L23.6313 37.295L22.996 37.4105C20.6711 37.884 18.4994 38.9257 16.6749 40.4426C14.8503 41.9595 13.4296 43.9044 12.5394 46.1038C10.7053 44.9863 9.27543 43.313 8.45758 41.3272C7.63972 39.3413 7.47655 37.1463 7.99179 35.0613C8.50702 32.9763 9.6738 31.11 11.3225 29.7337C12.9712 28.3573 15.016 27.5427 17.1594 27.4082L18.0141 27.3889C18.6078 24.0291 20.3661 20.9859 22.9803 18.7934C25.5944 16.601 28.8974 15.3996 32.3092 15.4Z" fill="#BABABA"/>
					</svg>
					{% if taux_carbone_moy > 1500 %}
						<h4 style="color: red">
							{{ taux_carbone_moy | default('---') }}ppm
						</h4>
					{% elseif taux_carbone_moy >= 1000 %}
						<h4 style="color: orange">
							{{ taux_carbone_moy | default('---') }}ppm
						</h4>
					{% else %}
						<h4>
							{{ taux_carbone_moy | default('---') }}ppm
						</h4>
					{% endif %}
					<p>Taux de carbone moyen</p>
				</div>
			</div>
		</div>

		{# -------------------------------------------------- #}

		{# CONTAINER (salles en cours d'analyse) #}
		<div class="container widget-salles">
			<h4>Salles en cours d'analyse</h4>

			<div class="salles">
			{% for salle in salles %}
				{# Vérifier si la salle existe dans les données #}
				{% if salle is defined %}
					{# La salle existe, afficher les données #}
					<div class="salle">
						<div class="infos">
							<h5>{{ salle }}</h5>
							{#<p>{{ salles[i].hum | default('--') }}% - {{ salles[i].temp | default('---') }}°C - {{ salles[i].co2 | default('--,-') }}ppm</p>#}
						</div>

						<a href="/charge-de-mission/liste-salles/details-salle/{{ salle }}" class="voir-detail-bouton">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
								<path d="M32.5 5H7.5C6.83696 5 6.20107 5.26339 5.73223 5.73223C5.26339 6.20107 5 6.83696 5 7.5V32.5C5 33.163 5.26339 33.7989 5.73223 34.2678C6.20107 34.7366 6.83696 35 7.5 35H32.5C33.163 35 33.7989 34.7366 34.2678 34.2678C34.7366 33.7989 35 33.163 35 32.5V7.5C35 6.83696 34.7366 6.20107 34.2678 5.73223C33.7989 5.26339 33.163 5 32.5 5ZM28.75 21.25H21.25V28.75C21.25 29.0815 21.1183 29.3995 20.8839 29.6339C20.6495 29.8683 20.3315 30 20 30C19.6685 30 19.3505 29.8683 19.1161 29.6339C18.8817 29.3995 18.75 29.0815 18.75 28.75V21.25H11.25C10.9185 21.25 10.6005 21.1183 10.3661 20.8839C10.1317 20.6495 10 20.3315 10 20C10 19.6685 10.1317 19.3505 10.3661 19.1161C10.6005 18.8817 10.9185 18.75 11.25 18.75H18.75V11.25C18.75 10.9185 18.8817 10.6005 19.1161 10.3661C19.3505 10.1317 19.6685 10 20 10C20.3315 10 20.6495 10.1317 20.8839 10.3661C21.1183 10.6005 21.25 10.9185 21.25 11.25V18.75H28.75C29.0815 18.75 29.3995 18.8817 29.6339 19.1161C29.8683 19.3505 30 19.6685 30 20C30 20.3315 29.8683 20.6495 29.6339 20.8839C29.3995 21.1183 29.0815 21.25 28.75 21.25Z" fill="white"/>
							</svg>
						</a>
					</div>
				{% endif %}
			{% endfor %}
			</div>

			<a class="voir-tout-bouton" href="/charge-de-mission/liste-salles">
				Voir tout
				<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
					<path d="M15.68 5.7925C15.5912 5.57869 15.4213 5.40879 15.2075 5.32C15.1023 5.27516 14.9894 5.25138 14.875 5.25H6.12501C5.89294 5.25 5.67038 5.34219 5.50629 5.50628C5.3422 5.67038 5.25001 5.89294 5.25001 6.125C5.25001 6.35706 5.3422 6.57962 5.50629 6.74372C5.67038 6.90781 5.89294 7 6.12501 7H12.7663L5.50376 14.2538C5.42175 14.3351 5.35665 14.4319 5.31223 14.5385C5.26781 14.6451 5.24493 14.7595 5.24493 14.875C5.24493 14.9905 5.26781 15.1049 5.31223 15.2115C5.35665 15.3181 5.42175 15.4149 5.50376 15.4962C5.5851 15.5783 5.68188 15.6434 5.7885 15.6878C5.89513 15.7322 6.0095 15.7551 6.12501 15.7551C6.24052 15.7551 6.35489 15.7322 6.46151 15.6878C6.56814 15.6434 6.66492 15.5783 6.74626 15.4962L14 8.23375V14.875C14 15.1071 14.0922 15.3296 14.2563 15.4937C14.4204 15.6578 14.6429 15.75 14.875 15.75C15.1071 15.75 15.3296 15.6578 15.4937 15.4937C15.6578 15.3296 15.75 15.1071 15.75 14.875V6.125C15.7486 6.01066 15.7248 5.89769 15.68 5.7925Z" fill="white"/>
				</svg>
			</a>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/heure_paris.js') }}"></script>
{% endblock %}
