<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Icône de l'onglet -->
    <link rel="icon" href="{{ asset('img/logo.jpg') }}">
    {# <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> #}
    {% block stylesheets %}
        <!-- Inclusion de la feuille de style -->
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    {% endblock %}
</head>
<body>
<!-- Bannière avec le titre SmartCampus -->
<div class="banner">
    <div class="right-content">
        <!-- Lien de déconnexion avec icônes -->
        <a class="link" href="{{ path('app_deconnexion') }}">
            <div class="circle_icon">
                <img src="{{ asset('img/leave_left.png') }}" alt="leave_left" class="leave_left">
                <img src="{{ asset('img/leave_right.png') }}" alt="leave_right" class="leave_right">
            </div>
        </a>
        <!-- Titre et sous-titre -->
        <h1>SmartCampus.</h1>
        <h2>[DASHBOARD Bêta]</h2>
    </div>

    <div class="left-content">
        <!-- Affichage du nom d'utilisateur -->
            {% if app.user.roles[0] == 'ROLE_CHARGEMISSION' %}
                <p>Chargé de mission</p>
                <!-- Icône utilisateur -->
                <img  src="{{ asset('img/user.png') }}" alt="Icone user">
                <a href="/charge-de-mission/modifier" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path fill="currentColor" d="m59.466 6.317l-1.783-1.784a8.654 8.654 0 0 0-12.234 0L9.419 40.565L2.278 59.237c-.838 2.21.281 3.323 2.484 2.481l18.675-7.134l36.029-36.033c3.381-3.376 3.377-8.853 0-12.234m-22.629 9.486l2.508 2.507l-24.764 24.766l-2.508-2.509zm3.834 3.834l3.695 3.696l-24.763 24.765l-3.695-3.695zM11.026 57.32l-4.342-4.346l4.201-10.941L21.964 53.11zm12.411-5.387l-2.506-2.509l24.762-24.765l2.508 2.509zm26.209-26.21L38.281 14.36l2.827-2.828l11.365 11.363z"/></svg>
                </a>
            {% elseif app.user.roles[0] == 'ROLE_TECHNICIEN' %}
                <p>Technicien</p>
                <!-- Icône utilisateur -->
                <img  src="{{ asset('img/user.png') }}" alt="Icone user">
                <a href="/technicien/modifier" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path fill="currentColor" d="m59.466 6.317l-1.783-1.784a8.654 8.654 0 0 0-12.234 0L9.419 40.565L2.278 59.237c-.838 2.21.281 3.323 2.484 2.481l18.675-7.134l36.029-36.033c3.381-3.376 3.377-8.853 0-12.234m-22.629 9.486l2.508 2.507l-24.764 24.766l-2.508-2.509zm3.834 3.834l3.695 3.696l-24.763 24.765l-3.695-3.695zM11.026 57.32l-4.342-4.346l4.201-10.941L21.964 53.11zm12.411-5.387l-2.506-2.509l24.762-24.765l2.508 2.509zm26.209-26.21L38.281 14.36l2.827-2.828l11.365 11.363z"/></svg>
                </a>
            {% endif %}
    </div>
</div>

<!-- Contenu de l'application avec barre latérale -->
<div class="app-container">
    <div class="sidebar">
        <div class="menu">
            <h3>Menu</h3>
            <ul>
                <!-- Liens du menu à personnaliser dans les vues enfants -->
                {% block navlink %}
                {% endblock %}
            </ul>
        </div>
        {% block sidebar %}
        {% endblock %}
    </div>

    <!-- Contenu principal à définir dans les vues enfants -->
    {% block appcontent %}

    {% endblock %}
</div>

<!-- Scripts JavaScript à personnaliser dans les vues enfants -->
{% block javascripts %}
{% endblock %}

</body>
</html>
